<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="/home">Ativo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login/index">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Desativado</a>
    </li>
  </ul>

  